@charset "windows-1251";
/* CSS Document */

#hero {
    position: inherit;
    width: 21px;
    height: 50px;
    background-image:url('hero.jpg');
    /*left:120px;*/
    /*top:20px;"*/
}

#spit_icon {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('spit_icon.png');
}

#waterbomb_icon {
    position: inherit;
    width: 30px;
    height: 30px;
    background-image: url('waterbomb_icon.png');
}

#spit {
    position: absolute;
    width: 10px;
    height: 17px;
    background-image: url('spit.png');
    opasity: 0.0;
    left:0px;
    top:0px;
}

#waterbomb {
    position: inherit;
    width: 23px;
    height: 23px;
    background-image: url('waterbomb.png');
    opasity: 0;
    left:0px;
    top: 32px;
}

#rightcontrolbutton {
    position:   inherit;
    width:      120px;
    height:     300px;
    top:        120px;
    left:       680px;
    background-color: pink;
}

#leftcontrolbutton {
    position:   inherit;
    width:      120px;
    height:     300px;
    left :      0px;
    top:        120px;
    background-color: pink;
}

#gamearea {
    background-color: green;
    width: 800px;
    height:600px;
    position: absolute;
}

#weaponpanel {
    background-color: blue;
    width: 120px;
    height:120px;
    position: inherit;
}

#menubutton {
    background-color: blue;
    width: 120px;
    height:120px;
    position: inherit;
    left: 680px;
}

#balcony {
    background-color: black;
    width: 560px;
    height:50px;
    position: inherit;
    top: 70px;
    left: 120px;
}
#infopanel {
    background-color: orange;
    position: inherit;
    top:200px;
    left: 200px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    opacity: 0.75
}